<h2 class="page-header text-center">Account & Settings</h2>

<h3>
  User Info
</h3>
<div id="accountContainer" class="container">
  <div class="row">
    <div class="col">Name:</div>
    <div class="col">{{user.name}}</div>
    <div class="w-100"></div>
    <div class="col">Email:</div>
    <div class="col">{{user.email}}</div>
    <div class="w-100"></div>
    <div class="col">Username:</div>
    <div class="col">{{user.username}}</div>
  </div>
</div>
